.login {
    color: saddlebrown;
    font-weight: 800;
    font-size: x-large;

}

form {
    gap: 15px;
    flex-direction: column;
    display: flex;
    margin: 0 auto;

    height: 150px;
    width: 25%;


}